<%= link_to('back to list', lists_path) %>

<h1><%= @list.title %></h1>

<% unless @list.tasks.empty? %>
  <table>
    <tr>
      <th>Title</th>
      <th>Action</th>
    </tr>
    <% @list.tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= link_to('Show', task_path(task)) %></td>
        <td><%= link_to('Edit', edit_task_path(task)) %></td>
        <td><%= link_to "Delete", task, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  </table>

<% end %>

<p><%= link_to('Add new task', new_task_path) %></p>