<div class='container'>
  <h1><%= @task.title %></h1><br/>

  <table class='table table-bordered'>
    <thead>
    <tr>
      <th>Due Date</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Label</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= @task.print_due_date %></td>
      <td><%= @task.priority %></td>
      <td><%= task_status(@task) %></td>
      <td><%= task_label %></td>
    </tr>
    </tbody>
  </table>
</div>
